@import '../Variables.scss';

.feedback{
  position: fixed; 
  z-index: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); 
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 2rem;
  padding-top: 0;
  border-radius: 10px;
  width: 40%;
  font-family:sans-serif;
  color:dimgrey;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  h1{
    margin-bottom: .6rem;
  }

  &.correct {
    .answerHeader{
      background-color: $green-bg;
      border-bottom: 3px solid $green-border;
    }
  }
  &.incorrect {
    .answerHeader{
      background-color: $red-bg;
      border-bottom: 3px solid $red-border;
    }
    button{
      background: linear-gradient(to bottom, $red-border 5%, $red-bg 70%);
      background-color: $red-bg;
      border: 1px solid $red-border;
      text-shadow: 0px 1px 0px #662927;
      &:hover {
        background: linear-gradient(to bottom, $red-bg 5%, $red-bg 100%);
	      background-color: $red-bg;
      }
    }
  }

  .answerHeader {
    width: 100%;
    align-items: center;
    word-wrap: none;
    color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
    
    
  }

  button{
      font-size: 1.1rem;
      padding: .6rem 2rem;
  }
  
}

.cyan{
  background-color: rgba(78, 203, 241, 0.678);
};

.red{
  background-color: $red-border;
}

.TableHeader{
  background-color: $white-bg;
  
}
table{
  border: 1px solid $white-border;
  border-collapse: collapse;
  box-shadow: .0 .3rem .4rem 0 rgba(0, 0, 0, 0.301);
  margin-bottom: 1rem;
}

table thead {
  font-weight: bold;
  td{
    padding: .6rem;
  }
}

table thead tr,
table tr:nth-child(even) {
background-color: #ddd;
}

table td {
  padding: 0.4rem;
  text-align: center;
  border-left: 1px solid $white-border;
  border-right: 1px solid $white-border;
  
}

table td:first-child {
  border-left: none;
}

table td:last-child {
  border-right: none;
}
// animations from Hover.css
    
@keyframes hvr-pulse-grow {
  0% {
    transform:  scale(1, 1)  ;
  }
  15% {
    transform:  scale(1.1, 1.1) ;
  }
  30% {
    transform:  scale(1, 1) ;
  }
  45% {
    transform:  scale(1.05, 1.05) ;
  }
  60% {
    transform:  scale(1, 1) ;
  }
  75% {
    transform:  scale(1.025, 1.025) ;
  }
  100% {
    transform:  scale(1, 1) ;
  }
  
}

.hvr-pulse-grow {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    animation-name: hvr-pulse-grow;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
}


@keyframes hvr-icon-buzz-out {
    10% {
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      transform: translateX(1px) rotate(0);
    }
    100% {
      transform: translateX(-1px) rotate(0);
    }
  }
  .hvr-icon-buzz-out {
    
    animation-duration: 0.8s;
    animation-name: hvr-icon-buzz-out;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
  .hvr-icon-buzz-out .hvr-icon {
    transform: translateZ(0);
  }
  .hvr-icon-buzz-out:hover .hvr-icon, .hvr-icon-buzz-out:focus .hvr-icon, .hvr-icon-buzz-out:active .hvr-icon {
    animation-name: hvr-icon-buzz-out;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  .dashpath {
    fill:none; 
    stroke: $white-bg;
    stroke-width:10;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-miterlimit:8;
    stroke-dasharray:400;
    stroke-opacity:1;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-delay: .2s;
    animation-fill-mode: forwards;
  }
  .dashpath.circle {
    stroke-dashoffset: 500; 
    animation-name: dashpath-to-zero;
  }
  .dashpath.checkmark {
    stroke-dashoffset: 400; 
    animation-name: dashpath-to-zero;
    animation-delay: .6s;
  }
  .dashpath.x1 {
    stroke-dashoffset: 400; 
    animation-name: dashpath-to-zero;
    animation-delay: .6s;
  }
  .dashpath.x2 {
    stroke-dashoffset: 400; 
    animation-name: dashpath-to-zero;
    animation-delay: .8s;
  }

  @keyframes dashpath-to-zero {
    to {
      stroke-dashoffset: 0;
    }
  }

