//scss stub for singleselect
.SingleSelect{
    background-color: rgb(239, 240, 235);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-family: monospace;
    padding-bottom: 1rem;

    h1 {
        margin: 0;
        margin-bottom: 1rem;
        word-wrap: none;
        color: white;
        background-color: rgb(126, 166, 37);
        border-bottom: 3px solid rgb(165, 202, 71);
        padding: 2rem;
        text-align: center;
    }
    button {
        text-align: left;
        width: 100%;
        border: none;
        padding: .5rem;
        padding-left: 2rem;
        font-size: 1.2rem;
        font-family: inherit;
        &:hover {
            background-color: rgb(195, 196, 190);
            
        }
    }
}