@import '../global-styles.scss';
// color variables
    // $green-bg: rgb(126, 166, 37);
    // $green-border: rgb(165, 202, 71);
    // $white-bg: rgb(239, 240, 235);
    // $white-border: rgb(195, 196, 190);
//scss stub for singleselect
.SingleSelect {
    background-color: $white-bg;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-family: monospace;
    padding-bottom: 1rem;

    .question{
        margin: 0;
        margin-bottom: 1rem;
        word-wrap: none;
        color: white;
        background-color: $green-bg;
        border-bottom: 3px solid $green-border;
        padding: 2rem;
        text-align: center;
    }
    ol {
        display: flex;
        flex-direction: column;
        list-style-position: inside;
        margin: 0;
        padding-inline-start: 0px;
        li {
            text-align: left;
            max-width: 100%;
            border: none;
            padding: .5rem;
            padding-left: 2rem;
            font-size: 1.2rem;
            font-family: inherit;
            &:hover {
                max-width: 100%;
                background-color:$white-border;
                
                
            }
        }   
    }
    
    // animations from Hover.css
    .fade {
        display: flex;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        // box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        overflow: hidden;
        transition-duration: 0.3s;
        transition-property: color, background-color;
      }
      .fade:hover, .fade:focus, .fade:active {
        background-color: $green-bg;
        color: white;
      }
        
    @keyframes hvr-pulse-grow {
        to {
            transform: scale(1.1);
        }
    }
    .hvr-pulse-grow {
        display: flex;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        animation-name: hvr-pulse-grow;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: 6;
        animation-direction: alternate;
    }
    
    
}