@import '../global-styles.scss';

//scss stub for singleselect
.SingleSelect {
    background-color: $white-bg;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-family: monospace;
    padding-bottom: 1rem;
    border-radius: 10px;

}