@import './Variables.scss';
// add global styles here if you want.

body{
    margin: 0;
    background-size: cover;
    background-image: url('./Images/you-x-ventures-Oalh2MojUuk-unsplash.jpg');
    height: 100vh;
}

.App{
    background-size: cover;
    background-image: url('./Images/vignette.png');
    height: 100vh;
    
}
.Select{
    background-color: $white-bg;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-family: monospace;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.Question{
    margin: 0;
    margin-bottom: 1rem;
    word-wrap: none;
    color: white;
    background-color: $green-bg;
    border-bottom: 3px solid $green-border;
    padding: 2rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
.List {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    margin: 0;
    padding-inline-start: 0px;
    li {
        text-align: left;
        max-width: 100%;
        border: none;
        padding: .5rem;
        padding-left: 2rem;
        font-size: 1.2rem;
        font-family: inherit;
        &:hover {
            max-width: 100%;
            background-color:$white-border;
            
            
        }
    }   
}
button{
    border-radius: 2rem;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .1rem;
    padding: .4rem 2rem;
    text-decoration: none;
    margin-top: .7rem;
    background: linear-gradient(to bottom, $green-border 5%, $green-bg 70%);
    background-color: $green-bg;
    border: 1px solid $green-border;
    

    &:active{
        position:relative;
        top:1px;
    }
    &:focus{
        outline: 0;

    }
    &:hover {
      background: linear-gradient(to bottom, $green-bg 5%, $green-bg 100%);
        background-color: $green-bg;
    }
  }